.main-header{
    display: flex;
    justify-content: center;

    height: 80px;
    background: green;
    color: white;
}

.main-header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-menu._hidden{
    display: none;
}

.main-header__auth-block{
    display: flex;
}

.auth-link{
    text-decoration: none;
    color: white;
    width: max-content;
    padding: 5px 10px;
    background: blue;
    border-radius: 6px;
}

.registration{
    background: coral;
    margin-left: 20px;
}

.main-footer{
    height: 60px;
    background: green;
    display: flex;
    justify-content: center;
    align-items: center;
}






