.full-article-page{
    display: flex;
    justify-content: center;
}

.full-article{
    max-width: 1200px;
    width: 100%;
    margin: 50px 0;
}

.full-article__header{
    font-size: 24px;
    margin-bottom: 20px;
}

.full-article__footer{
    margin-top: 20px;
    text-align: right;
}