.registration-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px);
}

.registration-form{
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid green;
}

.registration-form h2{
    margin-bottom: 20px;
    font-size: 32px;
}

.input-block{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.submit-button-block{
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit-button{
    width: 180px;
    height: 30px;
    border-radius: 6px;
    color: white;
    background: green;
    margin-top: 30px;
}

.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px);
}

.login-form{
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid green;
}

.login-form h2{
    margin-bottom: 20px;
    font-size: 32px;
}

.error-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 140px);
}

.error-page h1{
    font-size: 32px;
    margin-bottom: 20px;
}

.error-page p{
    font-size: 16px;
}

