.article-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 140px);
}

.article-page-content{
    display: flex;
    margin: 70px 0;
}

.extended-info{
    width: 250px;
    height: max-content;
    border: 2px solid green;
    border-radius: 10px;
}

.extended-info h2{
    font-size: 24px;
    margin: 15px 0 0 15px;
}

.extended-info__themes{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.extended-info__themes a{
    width: calc(100% - 30px);
    height: 40px;
    display: flex;
    align-items: center;
    color: black;
    text-decoration: none;
    padding: 0 15px;
}

.extended-info__themes a:hover{
    background: aliceblue;
}

.articles{
    margin-left: 50px;
    flex: 1;
}

.article-long{
    border: 2px solid blue;
    border-radius: 6px;
    margin-bottom: 30px;
}

.article-long__header{
    margin: 15px;
}

.article-long__header h2{
    margin-bottom: 10px;
    font-size: 32px;
}

.article-long__extended-info{
    display: flex;
}

.article-long__extended-info h3:nth-child(2){
    margin-left: 15px;
}

.article-long__text{
    margin: 0 0 15px 15px;
}

.add-article-page{
    width: 100%;
    height: calc(100vh - 80px - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-article-form{
    display: flex;
    flex-direction: column;
}

.add-article-form__title-input{
    height: 30px;
    width: 250px;
    border-radius: 6px;
    padding: 0 10px;
}

textarea{
    width: 600px;
    height: 300px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 6px;
}

.add-article-form__submit-button{
    width: 200px;
    height: 30px;
    background: green;
    border-radius: 6px;
    color: white;
}

